
.carousel .carousel-inner .carousel-item img {
    width:100%;
}

.navbar {
    background-color:black!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.header-border-bottom {
    display: block;
    width: 70px;
    height: 5px;
    background-color: #5BB66F;
}

.btn {
    border-radius: 0;
}

.btn-dark {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-dark:hover {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.date-box {
    background-color:#373A3C;
    color:white;
    padding-bottom:8px;
}

    .date-box p:first-child {
        font-size: 40px;
        text-align: center;
        margin-bottom: 0;
    }

    .date-box p:last-child {
        font-size: 14px;
        text-align: center;
        margin-bottom:0;
    }

.background-dark {
    background-color:#eeeeee;
    border-top: 1px solid #848484;
}

.card-subtitle {
    color: #6c757d!important;
    font-size:12px!important;
}

footer .primary {
    background-color:#373A3C;
    padding: 20px;
}

footer .secondary {
    background-color: #000000;
    padding: 20px;
}

footer p, footer label {
    color:white;
    margin: 0;
}

footer a {
    color:#9B9D9E;
    font-size: 30px;
    margin:0 3px;
}

footer a:hover {
    color:#737677;
}